body {
    font-family: Arial, sans-serif;
    margin: 20px;
   
}

form {
    max-width: 600px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

label {
    display: block;
    margin-bottom: 8px;
}

input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#submit{
    align-items: center;
    justify-content: center;
}

#availability{
    width: 500px;
}

#header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between; /* Add this line for spacing between h2 and nav */
    flex-direction: column;
}
nav {
    margin-top: 10px; /* Add some space between the heading and the navigation */
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: right; /* Align the text (list items) to the right */
}

li {
    display: inline; /* Display list items horizontally */
    margin-left: 10px; /* Add some space between list items */
}




#developers{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.developer {
    width: 400px;
    border: 1px solid #ccc;
    border-width: 1px;
    padding: 10px;
    margin-bottom: 20px;
    height: 500px; /* Set the height for the developer container */
}

.developer img {
    width: 100%; /* Make the image fill the container */
    height: auto; /* Maintain the aspect ratio */
}

